@media (max-width: 768px) {
    .site-header {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #FFF; /* 헤더 배경색 */
        padding: 10px 0;
        position: fixed; /* 헤더를 고정 */
        top: 0; /* 상단에 위치 */
        left: 0; /* 왼쪽에 위치 */
        width: 100%; /* 전체 너비 */
        z-index: 1000; /* 다른 요소들 위에 표시되도록 z-index 설정 */
        box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* 하단에 그림자 추가 */
    }


    .site-logo {
        width: 50px; /* 로고 크기는 필요에 따라 조정 */
        height: auto;
        margin-right: 10px;
    }

    .site-title {
        font-size: 24px; /* 사이트 이름의 폰트 크기 */
        color: #333; /* 사이트 이름의 색상 */
        font-weight: bold;
    }
}